

  /* Mensajes alertas */

  .mth-msg{
    color: #380182;
    margin-bottom: 1em;
  }

  /* Otros */

  .justify-between{
    justify-content: space-between;
  }

  .mth-line{
    width: 48%;
    border: 0.5px solid #6d01ff;
  }